@import url(http://fonts.googleapis.com/css?family=Inconsolata);

.board {
    font: 50px 'Inconsolata', sans-serif;
    border: 2px solid #000;
    float: left;
}

.board .row {
    height: 50px;
    clear: left;
}

.board .row .cell {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #000;
}

.next-up {
    font: 40px 'Inconsolata', sans-serif;
    clear: left;
}

/* Cell Colors: */
.cell-contains-0 {
    color: transparent;
}

.next-up-1,
.cell-contains-1 {
    background: #222;
    color: #fff;
}

.next-up-2,
.cell-contains-2 {
    background: #2faadd;
    color: #fff;
}